body {
    font-family: 'Open Sans', sans-serif;
    background-color: black;
}

#container {
    width: 1000px;
    height: 550px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(i4.jpeg);
    margin: 20px auto;
    top: 20px;
    position: relative;
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#keyboard {
    height: 400px;
}

.operator,
.number,
.empty {
    width: 50px;
    height: 50px;
    margin: 15px;
    float: left;
    border-radius: 50%;
    border-width: 0;
    font-weight: bold;
    font-size: 15px;
}